.product-price-container {
    display: flex;
}

.product-price-container span {
    margin: 4px 0 0 0;
    font-size: 18px;
    color: #9E9E9E;
}

.product-price-container h3 {
    margin: 0 0 0 10px;
    font-size: 32px;
    color: #407BFF;
}